.intro {
  width: 90vh;
  font-style: italic;
  color: red;
}

.author {
  width: 75%;
  font-weight: bold;
}

.blogpost {
  width: 50%;
  font-style: italic;
}

.important {
  color: red;
}

.emphasize {
  font-weight: bold;
}

.img {
  float: left;
}

.highlight {
  background-color: yellow;
}

/* This is an example CSS selector for a class attribute */


/* This is an example CSS selector for an id attribute */
#line2 {
  color: red;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.main {
  width: 400px;
  font-style: italic;
}

.column {
  width: 300px;
  float: left;
}